altair==4.0.1
anytree==2.8.0
asn1crypto==1.3.0
attrs==19.3.0
beautifulsoup4==4.8.2
blis==0.4.1
catalogue==1.0.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
cymem==2.0.3
Cython==0.29.15
decorator==4.4.2
en-core-web-sm==2.2.5
entrypoints==0.3
funcy==1.14
future==0.18.2
graphviz==0.14
idna==2.9
importlib-metadata==1.5.0
Jinja2==2.11.3
joblib==0.14.1
jsonschema==3.2.0
langdetect==1.0.7
lxml==4.5.0
MarkupSafe==1.1.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==8.2.0
murmurhash==1.0.0
networkx==2.4
nltk==3.4.5
numexpr==2.7.1
numpy==1.18.1
packaging==20.3
pandas==1.0.3
pke==1.8.1
plac==0.9.6
pluggy==0.13.1
preshed==3.0.2
protobuf==3.11.4
py==1.8.1
pycparser==2.20
pyLDAvis==2.1.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.15.7
PySocks==1.7.1
pytest==5.4.1
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2019.3
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
sent2vec==0.0.0
six==1.14.0
sklearn==0.0
soupsieve==1.9.4
spacy==2.2.3
srsly==1.0.2
stanza==1.0.0
thinc==7.3.0
toolz==0.10.0
torch==1.4.0
tqdm==4.44.1
Unidecode==1.1.1
urllib3==1.25.8
wasabi==0.6.0
wcwidth==0.1.9
zipp==3.1.0
